DISCORD_TOKEN=
DISCORD_APP_ID=
OWNER_DISCORD_ID=
DATABASE_URL=postgresql://pugstone:pugstone@localhost:5433/pugstone
TEST_DATABASE_URL=postgresql://pugstone:pugstone@localhost:5433/pugstone_test
LOG_LEVEL=info
